# Python virtual environment
backend/venv/
venv/

# Model/artifact files
backend/artifacts_model/
artifacts_model/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor stuff
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
